<header>
    <div class="bg-[#f19240] flex justify-around items-center text-3xl font-bold ">
        <a href="/">
            <img src="https://res.cloudinary.com/dtyhpa19d/image/upload/v1711627472/shopyfy/Animation_-_1711627379188_sj3fpp.gif"
                alt="" width="100px" height="100px">
        </a>
        Shopyfy
    </div>
    <nav>
        <ul class="bg-[#822174] text-white flex sm:w-[50%] m-auto justify-around align-center gap-4 py-2">
            <li><a href="/products">Products</a></li>

            <% if (!isAuthenticated) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <% } else { %>
                    <li><a href="/wallet">Wallet</a></li>
                    <li><a href="/admin/add-product">Add Products</a></li>
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                    <% } %>

        </ul>
    </nav>
</header>