<%- include('includes/head.ejs') %>
    </head>

    <body style="background-color: #ffc7f7;">
        <%- include('includes/navigation.ejs') %>
            <main>
                <!-- This is an example component -->
                <div class="max-w-2xl mx-auto bg-orange-200">

                    <div id="default-carousel" class="relative" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://res.cloudinary.com/dtyhpa19d/image/upload/v1711621027/shopyfy/Animation_-_1711620714214_drpwi4.gif"
                                    class="block absolute top-1/2 left-1/2 w-96 -translate-x-1/2 -translate-y-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://res.cloudinary.com/dtyhpa19d/image/upload/v1711621659/shopyfy/stack-coins-with-financial-chart_bfbtyq.jpg"
                                    class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <video autoplay controls>
                                    <source
                                        src="https://res.cloudinary.com/dtyhpa19d/video/upload/v1711622535/shopyfy/1110043_Speed_Sport_Energetic_1280x720_o60uio.mp4"
                                        type="video/mp4" />
                                </video>
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1"
                                data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                                data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                                data-carousel-slide-to="2"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button"
                            class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                            data-carousel-prev>
                            <span
                                class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7"></path>
                                </svg>
                                <span class="hidden">Previous</span>
                            </span>
                        </button>
                        <button type="button"
                            class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                            data-carousel-next>
                            <span
                                class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                                <span class="hidden">Next</span>
                            </span>
                        </button>
                    </div>


                    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
                </div>
                <section class="px-4">
                    <div class="text-xl text-center font-bold py-4">About Us</div>
                    <p>Welcome to Shopyfy, your go-to destination for earning unlimited money. At Shopyfy, we believe in a unique approach to wealth building – the more you buy, the more you earn. Our mission is to provide you with a platform where you can enhance your financial well-being while prioritizing your health. With a dedicated team, we strive to offer you an exceptional platform for personal and financial growth.</p>
                </section>
                <section class="px-4">
                    <div class="text-xl text-center py-4 font-bold">Our Vision</div>
                    <p>Our vision at Shopyfy is to provide everyone with a holistic platform that integrates wealth-building opportunities with health-centric values. We understand that true wealth encompasses both financial prosperity and physical well-being. By emphasizing the importance of health, we aim to empower individuals to achieve their financial goals while maintaining a balanced and healthy lifestyle.</p>
                </section>
                
            </main>
    </body>

    </html>